* {
    margin:0px;
    padding:0px;
}

#header {
    margin:auto;
    width:100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

ul, ol {
    list-style:none;
}

.nav > li {
    float:left;
}
.navbar-default .navbar-nav > li > a {
    color: black;
    border: 1px solid #d0d0d0;
}
.nav li a {
    background-color: white;
    color: black;
    text-decoration:none;
    margin-top: 2px;
    padding:10px 12px;
    display:block;
    border-right: 1px solid rgba(0,0,0,0.2);
    border-left: 1px solid rgba(255,255,255,0.1);
    border-radius: 48px 14px 47px 30px;
    -moz-border-radius: 48px 14px 47px 30px;
    -webkit-border-radius: 48px 14px 47px 30px;
    border: 0px solid #000000;
}

.nav li a:hover {
    background-color: gray;
    color: white;
}

.nav li ul {
    background-color: white;
    display:none;
    position:absolute;
    min-width:120px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-121px;
    top:0px;
}

#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

#form p {
  text-align: center;
}

#form label {
  font-size: 20px;
}

input[type="radio"] {
  display: none;
}

label {
  color: black;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
  font-size: 20px;
}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}

#conversation{
        background: white;   
        height:400px; border: 1px solid #CCCCCC; padding: 12px;  border-radius: 13px; overflow-x: hidden;
}
#message{
background: rgba(26,126,219,1);
background: -moz-linear-gradient(45deg, rgba(26,126,219,1) 0%, rgba(22,99,187,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(26,126,219,1)), color-stop(100%, rgba(22,99,187,1)));
background: -webkit-linear-gradient(45deg, rgba(26,126,219,1) 0%, rgba(22,99,187,1) 100%);
background: -o-linear-gradient(45deg, rgba(26,126,219,1) 0%, rgba(22,99,187,1) 100%);
background: -ms-linear-gradient(45deg, rgba(26,126,219,1) 0%, rgba(22,99,187,1) 100%);
background: linear-gradient(45deg, rgba(26,126,219,1) 0%, rgba(22,99,187,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a7edb', endColorstr='#1663bb', GradientType=1 );
border: 1px solid #CCCCCC; padding: 12px; overflow-x: hidden; border-radius: 79px 28px 64px 29px; -moz-border-radius: 79px 28px 64px 29px;-webkit-border-radius: 79px 28px 64px 29px; border: 0px solid #000000;
}
