            * {
                margin:0px;
                padding:0px;
            }
            
            #header {
                margin:auto;
                width:100%;
                font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
                font-size: 14px;
            }
            
            ul, ol {
                list-style:none;
            }
            
            .nav > li {
                float:left;
            }
            
            .nav li a {
                background-color:#383A3C;
                color:#fff;
                text-decoration:none;
                margin-top: 2px;
                padding:10px 12px;
                display:block;
                border-right: 1px solid rgba(0,0,0,0.2);
                border-left: 1px solid rgba(255,255,255,0.1);
                border-radius: 48px 14px 47px 30px;
                -moz-border-radius: 48px 14px 47px 30px;
                -webkit-border-radius: 48px 14px 47px 30px;
                border: 0px solid #000000;
            }
            
            .nav li a:hover {
                background-color: black;
            }
            
            .nav li ul {
                background-color:#383A3C;
                display:none;
                position:absolute;
                min-width:80px;
            }
            
            .nav li:hover > ul {
                display:block;
            }
            
            .nav li ul li {
                position:relative;
            }
            
            .nav li ul li ul {
                right:-87px;
                top:0px;
            }